<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sense Index</title>
    <link rel="stylesheet" href="../static/src/css/global/init.css">
    <link rel="stylesheet" href="../static/src/css/index/index.css">
    <link rel="stylesheet" href="../static/src/css/index/good-banner.css">
    <link rel="stylesheet" href="../static/src/css/index/index-effects.css">
    <script src="../static/libs/js/jquery/jquery.js"></script>
    <script src="../static/libs/js/react/react.min.js"></script>
  </head>
  <body>
    <script src="/build/index.bundle.js"></script>
  </body>
</html>