<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Registration Agreement</title>
    <link rel="stylesheet" href="../../static/src/css/global/init.css">
    <link rel="stylesheet" href="../../static/src/css/user/agreement.css">
  </head>
  <body>
    <div class="mp-agree-div">
      <h1>Sense平台隐私规则</h1>

      <p class="t">重要提示： </p>
      <p class="t2">本《隐私规则》（下称"本规则"）规定和说明了Sense（下称"我们"）在为用户（以下也称"您"）提供融资理财服务或网络服务过程中收集、存储、使用和保护您的个人信息等相关规则。我们在此特别提醒您认真阅读、充分理解本规则各条款，特别是其中所涉及的免除、限制我们责任的条款、对您权利限制的条款、争议解决和法律适用的条款等。您一旦注册或使用我们的产品和服务，即表示您接受本规则。</p>
      
      <h4>一、本规则的使用及说明 </h4>
      <p>
        1．您成为本平台用户前务必仔细阅读本规则并同意本规则。作为本平台服务的正常操作程序的一部分，本平台收集、使用并（在一些情况下）向第三方披露有关您的资料。本规则作为本平台服务协议的附件，在您注册成为本平台用户后立即生效，并对您及本平台产生约束力。
      </p>
      <p>
        2.本平台可能不时按照您的意见和本平台的需要修改本隐私规则，以准确地反映本平台的资料收集及披露惯例。
      </p>

      <h4>二、本规则涉及的个人资料</h4>
      <p>1.本平台收集个人资料的主要目的在于向您提供一个顺利、有效和度身订造的交易经历。本平台仅收集本平台认为就此目的及达成该目的所必须的关于您的个人资料。</p>
      <p>2.本平台可能自公开及私人资料来源收集您的额外资料，以更好地了解本平台用户，并为其度身订造本平台服务、解决争议并有助确保在平台进行交易的安全性。  </p>
      <p>3.本平台按照您在本平台网址上的行为自动追踪关于您的某些资料。本平台利用这些资料进行有关本平台之用户的人口统计、兴趣及行为的内部研究，以更好地了解您以便向您和本平台的用户社区提供更好的服务。  </p>
      <p>4.如果您将个人通讯信息（例如：手机短信、电邮或信件）交付给本平台，或如果其他用户或第三方向本平台发出关于您在本平台上的活动或登录事项的通讯信息，本平台可以将这些资料收集在您的专门档案中。  </p>
      <p>5.本平台在本平台的某些网页上使用诸如"Cookies"的资料收集装置。"Cookies"是设置在您的硬盘上的小档案，以协助本平台为您提供度身订造的服务。本平台亦提供某些只能通过使用"Cookies"才可得到的功能。本平台还利用"Cookies"使您能够在某段期间内减少输入密码的次数。"Cookies"还可以协助本平台提供专门针对您的兴趣而提供的资料。 </p>

      <h4>三、本规章最终解释权归我们</h4>
    </div>
  </body>
</html>