<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="../../static/src/css/global/init.css">
    <link rel="stylesheet" href="../../static/src/css/user/login.css">
    <link rel="stylesheet" href="../../static/src/css/user/loginHead.css">
    <script src="../../static/libs/js/jquery/jquery.js"></script>
    <script src="../../static/libs/js/jquery-validation/jquery.validation.js"></script>
    <script src="../../static/libs/js/jquery-validation/messages_cn.js"></script>
    <script src="../../static/libs/js/react/react.min.js"></script>
  </head>
  <body>
    <script src="../../build/login.bundle.js"></script>
  </body>
</html>











